# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Test Common Contracts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Compile contracts
      working-directory: packages/common/contracts
      env:
        HARDHAT_TS_NODE_REGISTER: true
      run: npx hardhat compile
    
    - name: Start Hardhat node
      working-directory: packages/common/contracts
      run: npx hardhat node &
    
    - name: Wait for node
      run: sleep 5
    
    - name: Run Hardhat tests
      working-directory: packages/common/contracts
      run: npx hardhat test
